{{- if .Values.installCRDs -}}
apiVersion: opentelemetry.io/v1alpha1
kind: Instrumentation
metadata:
  name: {{ .Values.instrumentationCrdName }}
  namespace: km-agent
  labels:
    {{- toYaml .Values.instrumentationCrdLabels | nindent 4 }}
spec:
  exporter:
    endpoint: http://{{ .Values.agentServiceName }}.km-agent.svc.cluster.local:4318
  
  propagators:
    - tracecontext
    - baggage
    - b3
    
  sampler:
    type: parentbased_traceidratio
    argument: "1"

  nodejs:
    image: ghcr.io/open-telemetry/opentelemetry-operator/autoinstrumentation-nodejs:latest
  python:
    image: ghcr.io/open-telemetry/opentelemetry-operator/autoinstrumentation-python:latest
  dotnet:
    image: ghcr.io/open-telemetry/opentelemetry-operator/autoinstrumentation-dotnet:latest
  java:
    image: ghcr.io/open-telemetry/opentelemetry-operator/autoinstrumentation-java:latest
  go:
    image: ghcr.io/open-telemetry/opentelemetry-operator/autoinstrumentation-go:latest
  
  env:    
    # Using the Downward API to dynamically set resource attributes for the pod.
    - name: POD_UID
      valueFrom:
        fieldRef:
          fieldPath: metadata.uid
    - name: NAMESPACE_NAME
      valueFrom:
        fieldRef:
          fieldPath: metadata.namespace
    - name: SERVICE_ACCOUNT_NAME
      valueFrom:
        fieldRef:
          fieldPath: spec.serviceAccountName
          
{{- end }}